html
    head
        title Lemonade
        script.
    body
        h1 Lemonade
        unless isLogin 
            a(href='/SignUp')
                button Sign up
            a(href='/SignIn')
                button Sign in
        else 
            p Welcome, #{userName}!
            a(href='/myPage/'+userId)
                button mypage
        ul  
            each item in data 
                li
                    a(href='/lemon/'+item[0]+'/'+item[1])
                        h3= item[2]
                    p= item[3]
                    img= item[4]
                    a(href='/comment/'+item[0]+'/'+item[1])
                        button Comment
                    if userId == item[0]
                        a(href='/updateBoard/'+item[1])
                            button Edit
                        a(href='/deleteBoard/'+item[0]+'/'+item[1])
                            button Delete