html
    head
        script.
    body
        include include/title.pug
        h1 Lemonade - New Board
        form(method="POST")
            label(for="title") Title
            input(type="text" name="title" placeholder="Title" required)
            br
            label(for="content") Content
            textarea(name="content", cols="30", rows="10" placeholder="Content" required)
            br
            input(type="file", name="img" multiple)
            br
            input(type="submit" value="ADD")
