html
    head
    body
        a(href='/')
            h3 Lemonade
        form(action='SignInProc' method='POST')
            label(for="email") E-mail
            input(type="text" name='email' placeholder="E-mail")
            br
            label(for="pw") Password
            input(type="password" name='pw' placeholder="Password")
            br
            input(type="submit" value='Sign in')
            