<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1><%= data.title %></h1>
    <p><%= data.userName %></p>
    <p><%= data.content %></p>

    <% comment.forEach(function(item, index) { %>
        <li>
            <p><%= item.userName %></p>
            <p><%= item.content %></p>
            <a href=<%="/update/"+item.id %>><button>Edit</button></a>
            <a href=<%="/delete/"+item.id %>><button>Delete</button></a>
        </li>
    <% }) %> 
</body>
</html>