<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <a href="/"><h3>Lemonade</h3></a>
    <h1>Lemonade-<%= userName %>'s Page</h1>
    <a href="/insert/"><button>New</button></a>
    <ul>
    <% data.forEach(function(item, index) { %>
        <li>
            <p><%= item.id %></p>
            <a href=<%="/lemon/"+item.userId+"/"+item.id %>><p><%= item.title %></p></a>
            <p><%= item.content %></p>
            <p><%= item.img %></p>
            <a href=<%="/update/"+item.id %>><button>Comment</button></a>
            <a href=<%="/deleteComment/"+item.id %>><button>Delete</button></a>
        </li>
    <% }) %> 
    </ul>
</body>
</html>