<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Lemonade-Mypage</h1>
    <a href="/insert/"><button>New</button></a>
    <ul>
    <% data.forEach(function(item, index) { %>
    <li>
        <p><%= item.userId %></p>
        <p><%= item.title %></p>
        <p><%= item.content %></p>
        <p><%= item.img %></p>
        <a href="/update/"><button>Edit</button></a>
        <a href="/delete/"><button>Delete</button></a>
    </li>
    <% }) %> 
    </ul>
</body>
</html>